<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>HashPass</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2/semantic.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/semantic.css" type="text/css">
  <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
  <script src="/scripts/jquery-3.1.1.min.js"></script>
  <script src="/scripts/semantic.js"></script>
  <script src="/scripts/progress.js"></script>
  <script src="/scripts/dropdown.js"></script>
  <style>
    .ui.action.input input[type="file"] {
      display: none;
    }
  </style>
</head>
</html>
<body>
  <div class="ui stackable inverted menu">
    <div class="header item">
      <a href="/">
        <img src="/images/logo3.png" style="height:28px">
      </a>
    </div>
    <a href="/" class="item active">
      Dashboard
    </a>
    <a href="/job-list" class="item">
      Jobs
    </a>
    <a href="/job-create" class="item">
      Create Job
    </a>
    <div class="right menu">
      <a href="/kill-all" class="item">
        Kill All Jobs
      </a>
    </div>
    <div class="right menu" style="display:none">
      <a href="/signup" class="item">Sign Up</a>
      <a href="/login" class="item">Login</a>
    </div>
  </div>
    <%== yield %>
</body>
</html>