<script>
  setTimeout("location.reload();",10000); 
</script>
<div class="ui one column doubling stackable grid container">
  <div class="column">
    <div style="display:flex; flex-direction: column">
      <!-- TODO: Load this banner randomly from file? -->
      <pre style="align-self: center">
|         |       .'.                   ..'''' |         | |`````````,       .'.                   ..''''             ..''''
|_________|     .''```.              .''       |_________| |'''''''''      .''```.              .''                .''
|         |   .'       `.         ..'          |         | |             .'       `.         ..'                ..'
|         | .'           `. ....''             |         | |           .'           `. ....''             ....''
      </pre>
    </div>
    <h2>Active Jobs</h2>
    <table class="ui striped inverted table">
      <thead>
      <tr>
        <th>Name</th>
        <th>PID</th>
        <th>Progress</th>
        <th>Exec Runtime</th>
        <th>Speed</th>
        <th>Rejected</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% Jobs.jobs.each do |job| %> 
      <tr>
        <td><%= job.name %></td>
        <td><%= job.pid %></td>
        <td><%= job.status('PROGRESS', 1).to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %> - <%= job.status('PROGRESS', 2).to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %>
          <div class="ui small red inverted progress" data-value="<%= job.status('PROGRESS', 1) %>" data-total="<%= job.status('PROGRESS', 2) %>" id="example1">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>
        </td>
        <td><%= job.status('EXEC_RUNTIME', 1) %></td>
        <td><%= job.status('SPEED', 1) %></td>
        <td><%= job.status('REJECTED', 1) %></td>
        <td><%= job.status_code %></td>
        <td>
          <div class="ui mini vertical simple dropdown item">
            Edit
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Pause </div>
              <div class="item">Stop</div>
              <div class="item">Delete</div>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>

    <h2>Queued Jobs</h2>
    <table class="ui striped inverted table">
      <thead>
      <tr>
        <th>Name</th>
        <th>PID</th>
        <th>Progress</th>
        <th>Exec Runtime</th>
        <th>Speed</th>
        <th>Rejected</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
    <% Jobs.queues.each do |job| %> 
      <tr>
        <td><%= job.name %></td>
        <td><%= job.pid %></td>
        <td><%= job.status('PROGRESS', 1).to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %> - <%= job.status('PROGRESS', 2).to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %>
          <div class="ui small red inverted progress" data-value="<%= job.status('PROGRESS', 1) %>" data-total="<%= job.status('PROGRESS', 2) %>" id="example1">
            <div class="bar">
              <div class="progress"></div>
            </div>
          </div>
        </td>
        <td><%= job.status('EXEC_RUNTIME', 1) %></td>
        <td><%= job.status('SPEED', 1) %></td>
        <td><%= job.status('REJECTED', 1) %></td>
        <td><%= job.status_code %></td>
        <td>
          <div class="ui mini vertical simple dropdown item">
            Edit
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Pause </div>
              <div class="item">Stop</div>
              <div class="item">Delete</div>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>

    <h2>Cracked Passwords <i class="right unlock icon"></i></h2>
    <table class="ui striped inverted table">
      <thead>
      <tr>
        <th>Hash:SSID:Password</th>
      </tr>
      </thead>
      <tbody>
      <% Jobs.completed_jobs.each do |job| %>
        <tr>
          <td><%= job %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>