<div class="ui two column doubling stackable grid main container">
  <div class="column">
    <form action="/job-create/" method="post" class="ui form inverted segment" enctype="multipart/form-data">
      <h2>Create Job</h2>
      <div class="ui field">
        <!-- Basic form verification, file required -->
        <label>Upload Hash</label>
        <div class="ui action input">
          <input type="text" placeholder="Upload File" readonly>
          <input type="file" name="file">
          <div class="ui icon button">
            <i class="attach icon"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Hash Type</label>
        <!-- TODO: add to data object and iterate -->
        <select name="hash_mode" class="ui search dropdown">
          <option value="2500">WPA/WPA2 - Network Protocols</option>
          <option value="2501">WPA/WPA2 PMK - Network Protocols</option>
          <option value="900">MD4 - Raw Hash</option>
          <option value="0">MD5 - Raw Hash</option>
          <option value="5100">Half MD5 - Raw Hash</option>
          <option value="100">SHA1 - Raw Hash</option>
          <option value="1300">SHA-224 - Raw Hash</option>
          <option value="1400">SHA-256 - Raw Hash</option>
          <option value="10800">SHA-384 - Raw Hash</option>
          <option value="1700">SHA-512 - Raw Hash</option>
          <option value="5000">SHA-3 (Keccak) - Raw Hash</option>
          <option value="600">BLAKE2b-512 - Raw Hash</option>
          <option value="10100">SipHash - Raw Hash</option>
          <option value="6000">RIPEMD-160 - Raw Hash</option>
          <option value="6100">Whirlpool - Raw Hash</option>
          <option value="6900">GOST R 34.11-94 -Raw Hash</option>
          <option value="11700">GOST R 34.11-2012 (Streebog) 256-bit - Raw Hash</option>
          <option value="11800">GOST R 34.11-2012 (Streebog) 512-bit - Raw Hash</option>
          <option value="10">md5($pass.$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="20">md5($salt.$pass) - Raw Hash, Salted and/or Iterated</option>
          <option value="30">md5(utf16le($pass).$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="40">md5($salt.utf16le($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="3800">md5($salt.$pass.$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="3710">md5($salt.md5($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="4010">md5($salt.md5($salt.$pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="4110">md5($salt.md5($pass.$salt)) - Raw Hash, Salted and/or Iterated</option>
          <option value="2600">md5(md5($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="3910">md5(md5($pass).md5($salt)) - Raw Hash, Salted and/or Iterated</option>
          <option value="4300">md5(strtoupper(md5($pass))) - Raw Hash, Salted and/or Iterated</option>
          <option value="4400">md5(sha1($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="110">sha1($pass.$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="120">sha1($salt.$pass) - Raw Hash, Salted and/or Iterated</option>
          <option value="130">sha1(utf16le($pass).$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="140">sha1($salt.utf16le($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="4500">sha1(sha1($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="4520">sha1($salt.sha1($pass)) -Raw Hash, Salted and/or Iterated</option>
          <option value="4700">sha1(md5($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="4900">sha1($salt.$pass.$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="14400">sha1(CX) - Raw Hash, Salted and/or Iterated</option>
          <option value="1410">sha256($pass.$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="1420">sha256($salt.$pass) - Raw Hash, Salted and/or Iterated</option>
          <option value="1430">sha256(utf16le($pass).$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="1440">sha256($salt.utf16le($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="1710">sha512($pass.$salt) = Raw Hash, Salted and/or Iterated</option>
          <option value="1720">sha512($salt.$pass) - Raw Hash, Salted and/or Iterated</option>
          <option value="1730">sha512(utf16le($pass).$salt) - Raw Hash, Salted and/or Iterated</option>
          <option value="1740">sha512($salt.utf16le($pass)) - Raw Hash, Salted and/or Iterated</option>
          <option value="50">HMAC-MD5 (key = $pass) - Raw Hash, Authenticated</option>
          <option value="60">HMAC-MD5 (key = $salt) - Raw Hash, Authenticated</option>
          <option value="150">HMAC-SHA1 (key = $pass) - Raw Hash, Authenticated</option>
          <option value="160">HMAC-SHA1 (key = $salt) - Raw Hash, Authenticated</option>
          <option value="1450">HMAC-SHA256 (key = $pass) - Raw Hash, Authenticated</option>
          <option value="1460">HMAC-SHA256 (key = $salt) - Raw Hash, Authenticated</option>
          <option value="1750">HMAC-SHA512 (key = $pass) - Raw Hash, Authenticated</option>
          <option value="1760">HMAC-SHA512 (key = $salt) - Raw Hash, Authenticated</option>
          <option value="14000">DES (PT = $salt, key = $pass) - Raw Cipher, Known-Plaintext attack</option>
          <option value="14100">3DES (PT = $salt, key = $pass) -Raw Cipher, Known-Plaintext attack</option>
          <option value="14900">Skip32 (PT = $salt, key = $pass) - Raw Cipher, Known-Plaintext attack</option>
          <option value="15400">ChaCha20 - Raw Cipher, Known-Plaintext attack</option>
          <option value="400">phpass - Generic KDF</option>
          <option value="8900">scrypt - Generic KDF</option>
          <option value="11900">PBKDF2-HMAC-MD5 - Generic KDF</option>
          <option value="12000">PBKDF2-HMAC-SHA1 - Generic KDF</option>
          <option value="10900">PBKDF2-HMAC-SHA256 -  Generic KDF</option>
          <option value="12100">PBKDF2-HMAC-SHA512  - Generic KDF</option>
          <option value="23">Skype - Network Protocols</option>
          <option value="4800">iSCSI CHAP authentication, MD5(CHAP) - Network Protocols</option>
          <option value="5300">IKE-PSK MD5 - Network Protocols</option>
          <option value="5400">IKE-PSK SHA1 - Network Protocols</option>
          <option value="5500">NetNTLMv1 -  Network Protocols</option>
          <option value="5500">NetNTLMv1+ESS - Network Protocols</option>
          <option value="5600">NetNTLMv2 - Network Protocols</option>
          <option value="7300">IPMI2 RAKP HMAC-SHA1 - Network Protocols</option>
          <option value="7500">Kerberos 5 AS-REQ Pre-Auth etype 23 - Network Protocols</option>
          <option value="8300">DNSSEC (NSEC3) - Network Protocols</option>
          <option value="10200">CRAM-MD5 - Network Protocols</option>
          <option value="11100">PostgreSQL CRAM (MD5) - Network Protocols</option>
          <option value="11200">MySQL CRAM (SHA1) - Network Protocols</option>
          <option value="11400">SIP digest authentication (MD5) - Network Protocols</option>
          <option value="13100">Kerberos 5 TGS-REP etype 23 - Network Protocols</option>
          <option value="121">SMF (Simple Machines Forum) > v1.1 - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="400">phpBB3 (MD5) - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="2611">vBulletin < v3.8.5 - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="2711">vBulletin >= v3.8.5 - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="2811">MyBB 1.2+ - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="2811">IPB2+ (Invision Power Board) - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="8400">WBB3 (Woltlab Burning Board) - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="11">Joomla < 2.5.18 - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="400">Joomla >= 2.5.18 (MD5) - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="400">WordPress (MD5) - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="2612">PHPS - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="7900">Drupal7 - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="21">osCommerce -  Forums, CMS, E-Commerce, Frameworks</option>
          <option value="21">xt:Commerce - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="11000">PrestaShop -  Forums, CMS, E-Commerce, Frameworks</option>
          <option value="124">Django (SHA-1) - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="10000">Django (PBKDF2-SHA256) -  orums, CMS, E-Commerce, Frameworks</option>
          <option value="3711">MediaWiki B type - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="13900">OpenCart - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="4521">Redmine - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="4522">PunBB -  Forums, CMS, E-Commerce, Frameworks</option>
          <option value="12001">Atlassian (PBKDF2-HMAC-SHA1) - Forums, CMS, E-Commerce, Frameworks</option>
          <option value="12">PostgreSQL - Database Server</option>
          <option value="131">MSSQL (2000) - Database Server</option>
          <option value="132">MSSQL (2005) - Database Server</option>
          <option value="1731">MSSQL (2012, 2014) -  Database Server</option>
          <option value="200">MySQL323 -  Database Server</option>
          <option value="300">MySQL4.1/MySQL5 - Database Server</option>
          <option value="3100">Oracle H: Type (Oracle 7+) - Database Server</option>
          <option value="112">Oracle S: Type (Oracle 11+) - Database Server</option>
          <option value="12300">Oracle T: Type (Oracle 12+) - Database Server</option>
          <option value="8000">"Sybase ASE -  Database Server</option>
          <option value="141">Episerver 6.x < .NET 4 - HTTP, SMTP, LDAP Server</option>
          <option value="1441">Episerver 6.x >= .NET 4 -  HTTP, SMTP, LDAP Server</option>
          <option value="1600">Apache $apr1$ MD5, md5apr1, MD5 (APR) -  HTTP, SMTP, LDAP Server</option>
          <option value="12600">ColdFusion 10+ - HTTP, SMTP, LDAP Server</option>
          <option value="1421">hMailServer - HTTP, SMTP, LDAP Server</option>
          <option value="101">nsldap, SHA-1(Base64), Netscape LDAP SHA - HTTP, SMTP, LDAP Server</option>
          <option value="111">nsldaps, SSHA-1(Base64), Netscape LDAP SSHA - HTTP, SMTP, LDAP Server</option>
          <option value="1411">SSHA-256(Base64), LDAP {SSHA256} - HTTP, SMTP, LDAP Server</option>
          <option value="1711">SSHA-512(Base64), LDAP {SSHA512} - HTTP, SMTP, LDAP Server</option>
          <option value="15000">FileZilla Server >= 0.9.55 - FTP Server</option>
          <option value="11500">CRC32 - Checksums</option>
          <option value="3000">LM - Operating Systems</option>
          <option value="1000">NTLM - Operating Systems</option>
          <option value="1100">Domain Cached Credentials (DCC), MS Cache - Operating Systems</option>
          <option value="2100">Domain Cached Credentials 2 (DCC2), MS Cache 2 - Operating Systems</option>
          <option value="15300">DPAPI masterkey file v1 - Operating Systems</option>
          <option value="15900">DPAPI masterkey file v2 - Operating Systems</option>
          <option value="12800">MS-AzureSync  PBKDF2-HMAC-SHA256 - Operating Systems</option>
          <option value="1500">descrypt, DES (Unix), Traditional DES - Operating Systems</option>
          <option value="12400">BSDi Crypt, Extended DES - Operating Systems</option>
          <option value="500">md5crypt, MD5 (Unix), Cisco-IOS $1$ (MD5) - Operating Systems</option>
          <option value="3200">bcrypt $2*$, Blowfish (Unix) - Operating Systems</option>
          <option value="7400">sha256crypt $5$, SHA256 (Unix) - Operating Systems</option>
          <option value="1800">sha512crypt $6$, SHA512 (Unix) - Operating Systems</option>
          <option value="122">OSX v10.4, OSX v10.5, OSX v10.6 - Operating Systems</option>
          <option value="1722">OSX v10.7 - Operating Systems</option>
          <option value="7100">OSX v10.8+ (PBKDF2-SHA512) - Operating Systems</option>
          <option value="6300">AIX {smd5} - Operating Systems</option>
          <option value="6700">AIX {ssha1} - Operating Systems</option>
          <option value="6400">AIX {ssha256} - Operating Systems</option>
          <option value="6500">AIX {ssha512} - Operating Systems</option>
          <option value="2400">Cisco-PIX MD5 - Operating Systems</option>
          <option value="2410">Cisco-ASA MD5 - Operating Systems</option>
          <option value="500">Cisco-IOS $1$ (MD5) - Operating Systems</option>
          <option value="5700">Cisco-IOS type 4 (SHA256) - Operating Systems</option>
          <option value="9200">Cisco-IOS $8$ (PBKDF2-SHA256) - Operating Systems</option>
          <option value="9300">Cisco-IOS $9$ (scrypt) - Operating Systems</option>
          <option value="22">Juniper NetScreen/SSG (ScreenOS) - Operating Systems</option>
          <option value="501">Juniper IVE - Operating Systems</option>
          <option value="15100">Juniper/NetBSD sha1crypt - Operating Systems</option>
          <option value="7000">FortiGate (FortiOS) - Operating Systems</option>
          <option value="5800">Samsung Android Password/PIN - Operating Systems</option>
          <option value="13800">Windows Phone 8+ PIN/password - Operating Systems</option>
          <option value="8100">Citrix NetScaler - Operating Systems</option>
          <option value="8500">RACF - Operating Systems</option>
          <option value="7200">GRUB 2 - Operating Systems</option>
          <option value="9900">Radmin2 - Operating Systems</option>
          <option value="125">ArubaOS - Operating Systems</option>
          <option value="7700">SAP CODVN B (BCODE) - Enterprise Application Software (EAS)</option>
          <option value="7800">SAP CODVN F/G (PASSCODE) - Enterprise Application Software (EAS)</option>
          <option value="10300">SAP CODVN H (PWDSALTEDHASH) iSSHA-1 - Enterprise Application Software (EAS)</option>
          <option value="8600">Lotus Notes/Domino 5 - Enterprise Application Software (EAS)</option>
          <option value="8700">Lotus Notes/Domino 6 - Enterprise Application Software (EAS)</option>
          <option value="9100">Lotus Notes/Domino 8 - Enterprise Application Software (EAS)</option>
          <option value="133">PeopleSoft - Enterprise Application Software (EAS)</option>
          <option value="13500">PeopleSoft PS_TOKEN - Enterprise Application Software (EAS)</option>
          <option value="11600">7-Zip - Archives</option>
          <option value="12500">RAR3-hp - Archives</option>
          <option value="13000">RAR5 - Archives</option>
          <option value="13200">AxCrypt - Archives</option>
          <option value="13300">AxCrypt in-memory SHA1 - Archives</option>
          <option value="13600">WinZip - Archives</option>
          <option value="14700">iTunes backup < 10.0 - Backup</option>
          <option value="14800">iTunes backup >= 10.0 - Backup</option>
          <option value="62XY">TrueCrypt - Full-Disk Encryption (FDE)</option>
          <option value="8800">Android FDE <= 4.3 - Full-Disk Encryption (FDE)</option>
          <option value="12900">Android FDE (Samsung DEK) - Full-Disk Encryption (FDE)</option>
          <option value="12200">eCryptfs - Full-Disk Encryption (FDE)</option>
          <option value="137XY">VeraCrypt - Full-Disk Encryption (FDE)</option>
          <option value="14600">LUKS - Full-Disk Encryption (FDE)</option>
          <option value="9700">MS Office <= 2003 $0/$1, MD5 + RC4 - Documents</option>
          <option value="9710">MS Office <= 2003 $0/$1, MD5 + RC4, collider #1 - Documents</option>
          <option value="9720">MS Office <= 2003 $0/$1, MD5 + RC4, collider #2 - Documents</option>
          <option value="9800">MS Office <= 2003 $3/$4, SHA1 + RC4 - Documents</option>
          <option value="9810">MS Office <= 2003 $3, SHA1 + RC4, collider #1 - Documents</option>
          <option value="9820">MS Office <= 2003 $3, SHA1 + RC4, collider #2 - Documents</option>
          <option value="9400">MS Office 2007 -Documents</option>
          <option value="9500">MS Office 2010 - Documents</option>
          <option value="9600">MS Office 2013 - Documents</option>
          <option value="10400">PDF 1.1 - 1.3 (Acrobat 2 - 4) - Documents</option>
          <option value="10410">PDF 1.1 - 1.3 (Acrobat 2 - 4), collider #1 - Documents</option>
          <option value="10420">PDF 1.1 - 1.3 (Acrobat 2 - 4), collider #2 - Documents</option>
          <option value="10500">PDF 1.4 - 1.6 (Acrobat 5 - 8) - Documents</option>
          <option value="10600">PDF 1.7 Level 3 (Acrobat 9) - Documents</option>
          <option value="10700">PDF 1.7 Level 8 (Acrobat 10 - 11) - Documents</option>
          <option value="9000">Password Safe v2 - Password Managers</option>
          <option value="5200">Password Safe v3 - Password Managers</option>
          <option value="6800">LastPass + LastPass sniffed - Password Managers</option>
          <option value="6600">1Password, agilekeychain - Password Managers</option>
          <option value="8200">1Password, cloudkeychain - Password Managers</option>
          <option value="11300">Bitcoin/Litecoin wallet.dat - Password Managers</option>
          <option value="12700">Blockchain, My Wallet - Password Managers</option>
          <option value="15200">Blockchain, My Wallet, V2 - Password Managers</option>
          <option value="13400">KeePass 1 (AES/Twofish) and KeePass 2 (AES) - Password Managers</option>
          <option value="15500">JKS Java Key Store Private Keys (SHA1) -Password Managers</option>
          <option value="15600">Ethereum Wallet, PBKDF2-HMAC-SHA256 - Password Managers</option>
          <option value="15700">Ethereum Wallet, SCRYPT - Password Managers</option>
          <option value="99999">Plaintext</option>
        </select>
      </div>
      <div class="field">
        <label>Attack Mode</label>
        <select id="attack_mode" name="attack_mode" class="ui search dropdown">
          <option value="0">Straight</option>
          <option value="1">Combination</option>
          <option value="3">Brute Force</option>
          <option value="6">Hybrid Wordlist + Mask</option>
          <option value="7">Hybrid Wordlist + Wordlist</option>
        </select>
      </div>
      <div id="mask" class="field hidden">
        <label>Mask</label>
        <input type="text" value="" name="mask">
      </div>
      <div class="field">
        <label>Rules</label>
        <select name="rules" class="ui search dropdown">
          <option value=""></option>
        <% @ruleFiles.each do |file| %>
          <option value="-r <%= file %>"><%= file %></option>
        <% end %>
        </select>
      </div>
      <div class="field">
        <label>Wordlist</label>
        <select id="wordlist" name="wordlist" class="ui search dropdown">
          <option value=""></option>
          <option value="dics/">Select All Dictionaries</option>
        <% @wordlistFiles.each do |file| %>
          <option value="<%= file %>"><%= file %></option>
        <% end %>
        </select>
      </div>
      <div id="wordlist2" class="field hidden">
        <label>Wordlist 2</label>
        <select name="wordlist2" class="ui search dropdown">
          <option value=""></option>
          <option value="dics/">Select All Dictionaries</option>
        <% @wordlistFiles.each do |file| %>
          <option value="<%= file %>"><%= file %></option>
        <% end %>
        </select>
      </div>
      <div class="inline fields">
        <label>Attach job to</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input name="job_type" value='queue' type="radio">
            <label>Queue</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input name="job_type" value='thread' checked="checked" type="radio">
            <label>New thread</label>
          </div>
        </div>
      </div>
      <button class="ui right labeled red icon button" type="submit">Crack!<i class="right unlock icon"></i></button>
    </form>
  </div>
  <div class="column">
    <div class="ui inverted segment">
      <h2>Details</h2>
      <div class="ui inverted form">
        <div class="field">
          <label>Output</label>
          <!-- TODO: load this from text file -->
          <textarea name="hashcat_output" wrap='off' readonly style="min-height: 296px;">
-[ Brute Force Masks ]------------------

  ? | Charset
  ===+==================================
  l | abcdefghijklmnopqrstuvwxyz
  u | ABCDEFGHIJKLMNOPQRSTUVWXYZ
  d | 0123456789
  h | 0123456789abcdef
  H | 0123456789ABCDEF
  s |  !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
  a | ?l?u?d?s
  b | 0x00 - 0xff
----------------------------------------

The Top 10
#   Mask  Example Password  % of Matching Cracked Passwords
1   ?u?l?l?l?l?l?d?d  Spring15  5.45%
2   ?u?l?l?l?l?l?l?d?d  January15   4.14%
3   ?u?l?l?l?l?l?l?l?d?d  December15  3.10%
4   ?u?l?l?l?d?d?d?d  Fall2015  2.91%
5   ?u?l?l?l?l?d?d?d?d  March2015   2.79%
6   ?u?l?l?l?l?l?d?d?d?d  Winter2015  2.72%
7   ?u?l?l?l?l?l?l?d  January1  2.34%
8   ?u?l?l?l?l?d?d?d  March123  1.98%
9   ?u?l?l?l?l?l?l?l?d  February1   1.72%
10  ?u?l?l?l?l?l?d?d?d  August123   1.51%

Custom
-1 ?u?d ?1?1?1?1?1?1?1?1  = abcd1234
-1 ?u -2 ?u?l?d -3 ?d  ?1?2?2?2?3?3?3   = 1: Uppercase, 2: Upper Lower Decimal, 3: decimal 
-1 ?u -2 ?l -3 ?s ?1?2?2?2?3

-[ Router Keyspace ] -------------------
ATTXXX-[0-9][len10]    
ATTXXXX-[0-9A-Z][len10]    
ATTXXXXXXX-[0-9a-z+][len12]    
BTHomeHub-XXXX - [0-9a-f] Len: 10
BTHomeHub2-XXXX - [2-9a-f] Len: 10
BTHub3 - [2-9a-f] Len: 10
BTHub4 - [2-9a-f] Len: 10
BTHub5 - [2-9a-f] Len: 10
BTHub6 - [0-9a-zA-Z] Len: 10 or 12
ThomsonXXXXXX - [0-9a-f] Len: 10
PlusnetWireless-XXXXXX - [0-9A-F] Len: 10
belkin.xxx - [2-9a-f] Len: 8
belkin.xxxx - [2-9a-f] Len: 8
Belkin.XXXX - [0-9A-F] Len: 8
Belkin_XXXXXX - [0-9A-F] Len: 8
BELL### - [0-9A-F] Len: 8
BELL#### - [0-9A-F] Len: 10
TP-LINK_###### - [0-9A-F] Len: 8
TDC-#### - [0-9a-f] Len: 9
LinksysXXXXX-[0-9a-z][len10]    
TNCAPXXXXXX - [0-9A-F] Len: 10
WLAN1-XXXXXX - [0-9A-F] Len: 11
TelstraXXXXXX - [0-9A-F] Len:10
BigPondXXXXXX - [0-9A-F] Len:10
2WIREXXX - [0-9] Len: 10
ONOXXXX - [0-9] Len: 10
DJAWEB_##### - [0-9] Len: 10
TIM_PN51T_XXXX - [0-9] Len: 8 - WPS pin is 12345670... and WPS can't be disabled...
INFINITUM#### - [0-9] Len: 10
NETGEARXX - Adjective + Noun + 3 Digits
CenturyLinkXXXX - [0-9a-f] Len: 14
BrightBox-XXXXXX - [??] Len: 8
EEBrightBox-XXXXXX - [3 word with hyphens]
Orange-XXXX - [2345679ACEF] Len: 8
TALKTALK-XXXXXX - [ABCDEFGHJKMNPQRTUVWXY346789] Len: 8
AOLBB-XXXXXX - [0-9A-Z] Len: 8
UPCXXXXXXX - [A-Z] Len: 8
SKYXXXXX - [A-Z] Len: 8
Tech_XXXXXXXX - [A-Z] Len: 8
Keenetic-XXXX - [a-zA-Z0-9] Len: 8 (Might be scope to reduce the charset but even so, large key-space)
Virgin Media [abcdefghjklmnpqrstuvwxyz] Length 8 i and o omitted.
VMXXXXXXX-2G [abcdefghjklmnpqrstuvwxyz] Length 8 i and o omitted.
VMXXXXXXX-5G [abcdefghjklmnpqrstuvwxyz] Length 8 i and o omitted.
VMXXXXXXX [0-9a-zA-Z] Len: 12
FRITZ!Box Fon WLAN #### - [0-9] Len: 16
EasyBox-###### - [0-9A-F] Len: 9
MobileWifi-xxxx - [0-9] Len: 8
3Wireless-Modem-XXXX - [0-9A-F]
UNITE-XXXX - [0-9] Len: 8
Verizon MIFIXXXX XXXX - [0-9] Len: 11
VirginMobile MiFiXXXX XXX - [0-9] Len: 11
E583x-xxxx - [0-9] Len: 8
E583x-xxxxx - [0-9A-F] Len: 8
Domino-XXXX - [0-9A-F] Len: 8
Netia-XXXXXX - [0-9a-f] Len: 13
Telecom-XXXXXXXX - [not-sure]
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
