/* TODO: add this as sass. Rewrite as custom CSS? */
html {
    font-size: 12px;
}
body {
    font-size: 12px;
    background-color: #DADADA;
}
body > .grid {
    /*height: 100%;*/
}
.column {
    /*max-width: 450px;*/
}
* {
    font-family: 'Poppins', sans-serif;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui.small.inverted.progress {
    margin: 0;
}

.ui.inverted.menu {
    /*background: #980101;*/
    background: rgb(50, 53, 56);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
body { background: #1d1d1d; }
body {color: rgba(192, 192, 202, 0.87);}
body {
    background-image: url(/images/logo3.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-blend-mode: overlay;
}
textarea,
pre {
    /*color: #666;*/
    font-family: Consolas,monospace;
}

.hidden {
  display: none;
}